- @page_id = "login"
- @page_title = "Log In"

= form_for(User.new, :url => admin_password_resets_path, :html => {:id => "wrapper"}) do |f|
  %h1#loginTitle
    Forgot Password

  %fieldset
    %p
      = f.label :email, :class=>"block_label"
      = f.text_field :email, :class => "text_field"
  %fieldset.last
    = f.submit "Reset my password", :class => "button", :disable_with => "Resetting your password..."