.row
  .span6.offset3
    = backend_logo("/assets/gb_logo.png" , {:height => "46px"})
    %h1#login_title
      = website_title
    
    %div#form.well
      %h3
        Page Not Found
      %p
        The page you were looking for could not be found. Check the address and try again.