.row
  .span6.offset3
    = backend_logo("/assets/gb_logo.png" , {:height => "46px"})
    %h1#login_title
      = website_title
    
    %div#form.well
      %h3
        Internal Server Error
      %p
        There was an error processing your request. Please contact the System Administrator.