- @window_title = "Membership"
- @page_title = "#{link_to "Membership", admin_membership_root_path} > #{link_to("Members", admin_membership_members_path)} > Add new group"
- @page_image = "/assets/sidebar/icon_library.png"
= render :partial => "form" , :locals => { :url_opts =>{ :action => :create } , :method_name => "post" }